@{
    Layout = "";
}

@model Grand.Plugin.Shipping.VoidShipping.Models.ByAeroModel
@using Grand.Web.Framework;

@*<h6>Void_ByAero.cshtml</h6>*@
<br />
<hr />







<table>
    <tr>
        <td>
            @Html.GrandLabelFor(model => model.Address, null, false)
        </td>
        <td>
            @Html.TextBoxFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </td>
    </tr>
    <tr>
        <td>
            @Html.GrandLabelFor(model => model.SomeNumber, null, false)
        </td>
        <td>
            @Html.TextBoxFor(model => model.SomeNumber)
            @Html.ValidationMessageFor(model => model.SomeNumber)
        </td>
    </tr>
</table>


@*<div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">

                            <div class="form-group">
                                <div class="col-md-3 col-sm-3 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.Country_OverrideForStore, model => model.Country, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.Country, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    @Html.GrandEditorFor(model => model.Country)
                                    @Html.ValidationMessageFor(model => model.Country)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-sm-3 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.SomeBool_OverrideForStore, model => model.SomeBool, Model.ActiveStoreScopeConfiguration)
                                        @Html.GrandLabelFor(model => model.ProductThumbPictureSize, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    @Html.GrandEditorFor(model => model.SomeBool)
                                        @Html.ValidationMessageFor(model => model.SomeBool)
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
